body{
	background: #1a2421;
      animation: navbar 1s linear;
}
.page1{
	background: url("https://i.pinimg.com/originals/bb/f9/a9/bbf9a9f662d346b6f3ca2fd2ab89685b.jpg");
    border-radius: 30px 30px 0px 0px;
    color: white;
    margin: 0% 10%;
    padding: 2% 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    font-size: 20px;
}
.page1 p{
	font-size: 25px;
}





:root * {
  /* Pause the animation */
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
.navbar b{
	font-size: 25px;
	color: white;
	float: left;
	padding: 0% 2%;
	text-align: center;
}
.navbar a{
	color: white;
	float: right;
	padding: 0% 2%;
	text-align: center;

}
.navbar a:hover{
	color: orange;
}
.btnpg1 a{
	padding: 10px 20px;
	border-radius: 10px;
	background: mediumpurple;
}

.btnpg1 a:hover{
	background: orange;
}
.sec2{
	  background: white;
    margin: 0% 10%;
    padding: 5% 5%;
    height: 300px;
}
.teacher b{
	float: left;
	width: 60%;
}
.sec2 h2{
	text-align: center;
}
.sec2 .teacher b{
	text-align: center;
	width: 60%;
	float: left;
}
.sec2 .teacher img{
	width: 30%;
	float: right;
}
/*section 3 courses*/
.sec3{
	background: white;
    margin: 0% 10%;
    padding: 5% 5%;
    height: 400px;
    font-size: 100%;
}

.page2pic1{
    text-align: center;
    float:left; 
    width:32%;
}
.page2pic2{
	text-align: center;
   float:left;
   width:35%;
}
.page2pic3{
	text-align: center;
   float:right;
   width:32%;
}
img{
	border-radius: 20px;
}
.page2pic1:hover, .page2pic2:hover, .page2pic3:hover, .small_img img:hover, .page2course1:hover, .page2course2:hover, .page2course3:hover{
  box-shadow: -1px 1px 10px 10px rgba(0, 0, 0, 0.3);
  border:2px solid white;
}
/*Page 4 */
.sec4{
	background: rgba(105,105,105, 1.0);
    margin: 0% 10%;
    padding: 5% 5%;
    height: 600px;
    color: white;
}
/*Project Page 4*/
.projects{
	text-align: center;
}
.page2proj1:hover, .page2proj2:hover, .page2proj3:hover, .page2proj4:hover{

  box-shadow: -1px 1px 10px 10px grey;
}
.page2proj1{
    float:left; 
    width:25%;
}
.page2proj2{
   float:left;
   width:25%;
}
.page2proj3{
   float:right;
   width:25%;
}
.page2proj4{
   float:right;
   width:25%;
}
/*Courses page 4 section 5 yahape projects*/
.page2course1{
	text-align: center;
    float:left; 
    width:32%;
}
.page2course2{
	text-align: center;
   float:left;
   width:35%;
}
.page2course3{
	text-align: center;
   float:right;
   width:32%;
}/*image galery*/
.image_gal{
	background: white;
    margin: 0% 10%;
    padding: 5% 5%;
    height: 650px;
}
.image_gal .small_img{
	text-align: center;
}
/*Section 5*/
.sec5{
	background: white;
    margin: 0% 10%;
    padding: 5% 5%;
    height: 600px;
}
.sec5 a{
	padding: 5% 15%;
	border-radius: 10px;
	background: yellow;
}
.sec5 a:hover{
	background: mediumpurple;
}
/*Carousel*/
.sec6{
  background: rgba(176,196,222, 0.9);
  margin: 0% 10%;
   padding: 5% 5%;
  height: 600px;
  color: black;
}
* {box-sizing:border-box}

/* Free Courses container */
.freecourses-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.sec6 img{
	height: 400px;
}
/* Make the images invisible by default */
.free {
  display: none;
}

/* Enroll Option */
.enroll {
  color:black;
  font-size: 150%;
  padding: 0% 5%;
  position: absolute;
  bottom: 1px;
  width: 100%;
  text-align: center;
}

.signup{
  background: url("https://i.pinimg.com/originals/bb/f9/a9/bbf9a9f662d346b6f3ca2fd2ab89685b.jpg");
    color: white;
    margin: 0% 10%;
    padding: 2% 5%;
}
.signup input{
 width: 800px;
 height: 40px;
 border-radius: 10px;
}
.signup a{
  padding: 10px 20px;
  border-radius: 10px;
  background: orange;
}

header.sticky {
      width: 70%;
    position: fixed;  
    background: rgb(227, 228, 247);
    top: 0px;
    padding: 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.05);
    color: black;
} 
/* The circles or bullets and indicators */
.bar {
  cursor: pointer;
  height: 10px;
  width: 40px;
  margin: 0 3px;
  background-color: lightyellow;
  display: inline-block;
  transition: background-color 0.9s ease;
}
.enable, .bar:hover {
  background-color: purple;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}
.ourteam{
    margin: 0% 10%;
   padding: 2% 1%;
   text-align: center;
   background: whitesmoke;
}
.ourteam img{
  border-radius: 50%;
  margin: 50px;
}
ourteam img:hover{
  box-shadow: 2px black;
}

/*Contact Us*/
.contact{
	background: rgba(255, 255, 204, 1);
	margin: 0% 10%;
   padding: 5% 5%;
	height: 500px;
}
.map{
	float: left;
	width: 48%;
}
.contactus{
	float: right;
	width: 49%;
	height: 300px;
}

.contactus input{
	width: 99%;
	border-radius: 10px 10px;
	padding: 2% 3%;
}
.contactus label{
	padding: 2% 1%;
	font-size: 20px;
}
/*about us*/
.about{
	background: white;
	margin: 0% 10%;
   padding: 5% 2%;
	height: 300px;
}

.about .media{
	display: flex;
	justify-content: center;
}
.item1:hover, .item2:hover, .item3:hover{
	color: purple;
}
.address{
    text-align: center;
    float:left; 
    width:32%;
}
.phone{
	text-align: center;
   float:left;
   width:35%;
}
.timing{
	text-align: center;
   float:right;
   width:32%;
}

@media (max-width: 500px) {
  .page1, .sec2, .sec3, .sec4, .sec5, .sec6, .contact, .about {
    height: 530px;
  }
}

